html {
  height: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body {
  height: 100%;
  background: #809a56;
}
#study-table td,
#study-table th {
  padding: 0 15px 0 15px;
}
#content-box {
  margin-top: -50px;
  padding: 50px;
  margin-bottom: -30px;
  min-height: 100%;
  background: #fff;
  box-shadow: 0px 10px 10px #333;
}
#footer-content {
  height: 30px;
}
.uni-logo {
  margin: 0 20px 20px 0;
}
.title {
  font-size: 2em;
  font-weight: 200;
  font-style: italic;
}
.title:hover,
.title:active,
.title:visited {
  color: #fff;
}
.title .green {
  color: #86e03c;
  font-weight: 900 !important;
  font-style: normal;
}
.feedback-post {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 0 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.feedback-post .remove {
  color: #62160d;
  font-size: 1.2em;
  float: right;
}
.feedback-post .remove:hover {
  color: #62160d;
  text-decoration: none;
}
.feedback-post .header {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.feedback-post .header .author {
  font-size: 1.3em;
  font-weight: bold;
}
.feedback-post .header .date {
  font-size: 1em;
  font-style: italic;
}
.feedback-post .body {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.university {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 15px 0 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.university .title {
  background: #4c8c1d;
  font-size: 1.4em;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.university .title a:active,
.university .title a:visited,
.university .title a:hover,
.university .title a:link {
  color: #fff !important;
}
.university .description {
  font-size: 1.1em;
  padding: 10px;
}
legend .university-title {
  font-size: 2.5em;
}
legend .location-title {
  font-size: 1.5em;
  font-style: italic;
}
.flash_message {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 18px;
  background: #5bc0de;
}
.search-bar {
  width: 250px;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
a.logout {
  font-size: 0.6em;
}
a.edit {
  font-size: 0.8em;
}
.rating {
  margin-right: 20px;
}
h4 {
  font-size: 1.1em;
  font-weight: bold;
}
#uni-list .university {
  height: 120px;
}
#uni-list .university .image {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  width: 120px;
  float: left;
  height: 120px;
  margin-right: 10px;
}
#uni-list .university .uni-thumbnail {
  height: 100%;
  border-radius: 3px;
}
#uni-list .university .text {
  margin-left: 120px;
  margin-right: 120px;
  height: 100%;
  background-color: #eeeeee;
}
#uni-list .university .text .uni-title {
  color: #ddd;
  background: #ddd;
  font-size: 1.2em;
  font-weight: bold;
}
#uni-list .university .score {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 120px;
  height: 100%;
  float: right;
  color: #fff;
  background: #649f30;
}
#uni-list .university .score ul {
  display: inline-block !important;
  vertical-align: middle !important;
  list-style-type: none;
  height: 100%;
}
#uni-list .university .score ul li {
  margin-top: 7px;
}
