html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
.feedback-post {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 0 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.feedback-post .remove {
  color: #62160d;
  font-size: 1.2em;
  float: right;
}
.feedback-post .remove:hover {
  color: #62160d;
  text-decoration: none;
}
.feedback-post .header {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.feedback-post .header .author {
  font-size: 1.3em;
  font-weight: bold;
}
.feedback-post .header .date {
  font-size: 1em;
  font-style: italic;
}
.feedback-post .body {
  padding: 0 10px 0 10px;
  font-size: 1.2em;
}
.university {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 15px 0 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.university .title {
  background: #4c8c1d;
  font-size: 1.4em;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.university .title a:active,
.university .title a:visited,
.university .title a:hover,
.university .title a:link {
  color: #fff !important;
}
.university .description {
  font-size: 1.1em;
  padding: 10px;
}
legend .university-title {
  font-size: 2.5em;
}
legend .location-title {
  font-size: 1.5em;
  font-style: italic;
}
.flash_message {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 18px;
  background: #5bc0de;
}
.search-bar {
  width: 250px;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
a.logout {
  font-size: 0.6em;
}
