@uni-image-width: 120px;
@score-width: 120px;

@gray-darker: lighten(#000, 13.5%);
// #222
@gray-dark: lighten(#000, 20%);
// #333
@gray: lighten(#000, 33.5%);
// #555
@gray-light: lighten(#000, 60%);
// #999
@gray-lighter: lighten(#000, 93.5%);
// #eee

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

.border-top-radius(@radius) {
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
}

.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;
}

.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
  border-top-left-radius: @radius;
}

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

html {
  height:100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  height:100%;
  background: #809a56;

}

#study-table td,
#study-table th{
  padding:0 15px 0 15px;
}

#content-box
{
  margin-top: -50px;
  padding:50px;
  margin-bottom: -30px;
  min-height:100%;
  background: #fff;
  box-shadow: 0px 10px 10px #333;
}

#footer-content {
  height:30px;
}

.title {

  &:hover,
  &:active,
  &:visited {
    color:#fff;
  }

  font-size:2em;
  font-weight:200;
  font-style:italic;

  .green {
    color:#86e03c;
    font-weight:900 !important;
    font-style: normal;
  }
}
.feedback-post {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 0 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  .remove {
    color: #62160d;
    font-size: 1.2em;
    float: right;

    &:hover {
      color: #62160d;
      text-decoration: none;
    }

  }

  .header {
    background-color: rgba(0, 0, 0, 0.2);

    display: block;
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .author {
      font-size: 1.3em;
      font-weight: bold;
    }

    .date {
      font-size: 1em;
      font-style: italic;
    }
  }

  .body {
    padding: 0 10px 0 10px;
    font-size: 1.2em;
  }

}

.university {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 15px 0 15px 0;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  .title {
    background: #4c8c1d;

    font-size: 1.4em;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
      &:active, &:visited, &:hover, &:link {
        color: #fff !important;
      }
    }
  }

  .description {
    font-size: 1.1em;
    padding: 10px;
  }
}

legend {

  .university-title {
    font-size: 2.5em;
  }

  .location-title {
    font-size: 1.5em;
    font-style: italic;
  }

}

.flash_message {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 18px;
  background: @brand-info;
}

.search-bar {
  width: 250px;
}

.clear {
  clear: both;
}

.left {
  float: left
}

.right {
  float: right
}

a.logout {
  font-size: 0.6em;
}

a.edit {
  font-size: 0.8em;
}

.rating {
  margin-right: 20px;
}

h4 {
  font-size: 1.1em;
  font-weight:bold;
}
#uni-list {

  .university {
    height: @uni-image-width;

    .image {
      .border-left-radius(5px);
      .border-right-radius(0px);
      width: @uni-image-width;
      float: left;
      height: 100%;
      margin-right:10px;

    }
    .text {
      margin-left: @uni-image-width;
      margin-right: @score-width;
      height: 100%;
      background-color: @gray-lighter;

      .uni-title {
        color: #ddd;
        background: #ddd;
        font-size:1.2em;
        font-weight:bold;
      }
    }
    .score {
      .border-right-radius(5px);
      width: @score-width;
      height: 100%;
      float: right;
      color: #fff;

      background: #649f30;
      ul {
        display: inline-block !important;
        vertical-align: middle !important;
        list-style-type: none;
        height:100%;

        li {
          margin-top:7px;
        }
      }

    }

  }
}


