{% extends "base.html" %}
{% block maincontent %}


	<legend>Add user</legend>


	<form method="post" action="" class="form-horizontal" role="form">
		{{ form.hidden_tag() }}
		{{ m.render_field(form.username, 4) }}
		{{ m.render_field(form.mail, 4) }}
		{{ m.render_field(form.pw, 4) }}
		{{ m.render_field(form.confirmpw, 4) }}
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-4">
				<button type="submit" class="btn btn-primary col-sm-6">
					<span class="glyphicon glyphicon-ok"></span>
					Add user
				</button>
			</div>
		</div>


	</form>








	{{ super() }} <!-- Add flash messages -->
{% endblock %}
