{% extends "base.html" %}
{% block maincontent %}


	<h1>Welcome, {{ u.name }} <a href="/logout" class="logout">(logout)</a> </h1>

	<br />
	<legend>Personal information <a class="edit pull-right" href="/edit/user/{{ u.id }}">edit</a></legend>
{#	<div class="well well-sm">#}
		<dl class="dl-horizontal">
			<dt>Name</dt><dd>{{ u.name }}</dd>
			<dt>Surname</dt><dd>{{ u.surname }}</dd>
			<dt>Mail</dt><dd>{{ u.mail }}</dd>
			<dt>Password</dt><dd>**********</dd>
		</dl>
{#	</div>#}
	<hr>

	<legend>Universities</legend>
	<div class="well well-sm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Universities</strong>
				<span class="pull-right"><a href="/add/university"><span class="glyphicon glyphicon-plus"></span> Add university</a></span>
			</div>
			<div class="panel-body">
				<ul>
					{% for university in universities %}
						<li>
							<a href="{{ url_for('edit_university', university_id=university.id) }}">{{ university.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>



	<legend>Users</legend>
	<div class="well well-sm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Admin</strong>
				<span class="pull-right"><a href="{{ url_for("add_user", role=2) }}"><span class="glyphicon glyphicon-plus"></span> Add admin</a></span>
			</div>
			<div class="panel-body">
				<ul>
					{% for user in users %}
						{% if user.role == 2 %}
							<li>
								<a href="{{ url_for('edit_user_admin', user_id=user.id) }}">{{ user.name }} {{ user.surname }}</a>
								<em>({{ user.mail }})</em>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>University</strong>
				<span class="pull-right"><a href="{{ url_for("add_user", role=1) }}"><span class="glyphicon glyphicon-plus"></span> Add university</a></span>
			</div>
			<div class="panel-body">
				<ul>
					{% for user in users %}
						{% if user.role == 1 %}
							<li>
								<a href="{{ url_for('edit_user_admin', user_id=user.id) }}">{{ user.name }} {{ user.surname }}</a>
								<em>({{ user.mail }})</em>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>User</strong>
				<span class="pull-right"><a href="{{ url_for("add_user", role=0) }}"><span class="glyphicon glyphicon-plus"></span> Add user</a></span>
			</div>
			<div class="panel-body">
				<ul>
					{% for user in users %}
						{% if user.role == 0 %}
							<li>
								<a href="{{ url_for('edit_user_admin', user_id=user.id) }}">{{ user.name }} {{ user.surname }}</a>
								<em>({{ user.mail }})</em>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>




	{{ super() }} <!-- Add flash messages -->
{% endblock %}
