{% extends "base.html" %}
{% block maincontent %}


	<legend>Edit university</legend>


	<form method="post" action="" class="form-horizontal" role="form">
		{{ form.hidden_tag() }}
		{{ m.render_field(form.name, 4, value=university.name) }}
		{{ m.render_field(form.location, 4, value=university.location) }}
		{{ m.render_field(form.logo_url, 4, value=university.logo_url) }}
		{{ m.render_field(form.description, 7, rows=6) }}

		<div class="form-group">
			<label class="col-sm-3 control-label">Studies</label>
			<table id="study-table" class="table table-striped" style="width:400px;">
			<tr>
				<th>Study name</th>
				<th>Studyfield</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
				{% for study in university.studies %}
					<tr>
						<td>{{ study.name }}</td>
						<td>{{ study.studyfield.name }}</td>
						<td><a href="{{ url_for('edit_study', study_id=study.id) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
						<td><a href="{{ url_for('edit_study', study_id=study.id) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
					</tr>
				{% endfor %}
			<tr>
				<td colspan="4"><a href="{{ url_for('add_study', university_id=university.id) }}"><span class="glyphicon glyphicon-trash"></span>Add</a></td>
			</tr>

			</table>
		</div>



		<div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
			<button type="submit" class="btn btn-primary col-sm-6">
				<span class="glyphicon glyphicon-ok"></span>
				Save changes
			</button>
		</div>
	</div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-4">
				<a href="{{ url_for('delete_university', university_id=university.id) }}">
					<button type="button" class="btn btn-danger col-sm-6">
						<span class="glyphicon glyphicon-trash"></span>
						Remove university
					</button>
				</a>
			</div>
		</div>


	</form>








	{{ super() }} <!-- Add flash messages -->
{% endblock %}
