{% extends "base.html" %}
{% block maincontent %}


	<legend>Edit study</legend>


	<form method="post" action="" class="form-horizontal" role="form">
		{{ form.hidden_tag() }}
		{{ m.render_field(form.name, 4, value=study.name) }}
		{{ m.render_field(form.url, 4, value=study.url) }}
		{{ m.render_field(form.studyfield_id, 4, value=study.studyfield_id) }}

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-4">
				<button type="submit" class="btn btn-primary col-sm-6">
					<span class="glyphicon glyphicon-ok"></span>
					Edit study
				</button>
			</div>
		</div>


	</form>








	{{ super() }} <!-- Add flash messages -->
{% endblock %}
