{% extends "base.html" %}
{% block title %}{{title}} - Greeniversity{% endblock %}

{% block maincontent %}


<h1>{{ university.name }}</h1>
<p>{{ university.description }}</p>

<h2>Feedback</h2>

{% for post in university.feedback %}

		<p><em>{{ post.name }}</em></p>
		<p>{{ post.body }}</p>
		<p>{{ post.timestamp.strftime("%H:%M - %d %B %Y")}}</p>

{% endfor %}

<form action="" method="POST">
	<p>{{form.name(size=20, placeholder="Name")}}</p>
	<p>{{form.feedback(placeholder="Feedback")}}</p>
	<input type="submit" value="Post feedback">

</form>

{{ super() }} <!-- Add flash messages -->
{% endblock %}
