{% extends "base.html" %}
{% block maincontent %}


	<h1>Universities</h1>
	<div class="well well-sm" id="uni-list">
		{% for university in universities %}



			<div class="panel panel-default university">

				<div class="image thumbnail">
					{%  if university.logo_url %}
						<img src="{{ university.logo_url }}">
					{% else %}
						<span class="logo-text" >{{ university.name }}</span>
					{% endif %}

				</div>

				<div class="score">
					<ul>
						<li><span class="glyphicon glyphicon-star"></span> 9.0</li>
						<li><span class="glyphicon glyphicon-euro"></span> 6.0</li>
						<li><span class="glyphicon glyphicon-heart"></span> 7.0</li>
						<li><span class="glyphicon glyphicon-home"></span> 7.5</li>
					</ul>
				</div>

				<div class="text">
					<div class="uni-title">
						<a href="{{ url_for('university', university_id=university.id) }}">{{ university.name }}</a>
					</div>
					<div class="">
						{{ university.description | striptags | truncate(480) }}
					</div>
				</div>

			</div>

		{% endfor %}
	</div>

	{{ super() }} <!-- Add flash messages -->
{% endblock %}
