{% extends "base.html" %}
{% block maincontent %}

	<legend><span class="university-title">{{ university.name }}</span> </legend>
	{%  if university.logo_url %}
		<img class="pull-left" width="300px" src="{{ university.logo_url }}">
	{% endif %}


	<h3>Scores</h3>
	<dl class="dl-horizontal" style="display: inline-block;">
		<dt>Overal score</dt><dd>89%</dd>
		<dt>Paper score</dt><dd>66% </dd>
		<dt>User score</dt><dd>70%</dd>
		<dt>Sustainabul ranking</dt><dd>17 / 23</dd>
	</dl>

	<h3>Description</h3>
	<p>{{ university.description | safe }}</p>

	<div class="clearfix"></div>
	<h3> Studies</h3>
	This university offers the following studies:
	<ul>
		{% for study in university.studies %}
			<li><a href="{{ study.url }}">{{ study.name }}</a></li>
		{% endfor %}
	</ul>
	<div class="clearfix"></div>
	<h3>Feedback</h3>

	<div id="posts">
		{% for post in university.feedback | reverse %}
			{% include 'post.html' %}
		{% endfor %}
	</div>


	<form class="form" action="" method="POST" id="feedback_form">

		<legend>Submit feedback</legend>

		<p>{{ form.hidden_tag() }}</p>
		<p>{{ m.render_field_reg(form.name,3) }}</p>
		<p>{{ m.render_field_reg(form.feedback,4, rows=4) }}</p>


		<input id="submit_feedback" class="left clear" type="submit"
			   onclick="submit_feedback_form('#feedback_form','{{ university.id }}')">

	</form>


	{{ super() }} <!-- Add flash messages -->
{% endblock %}
